<div ng-controller="CommonBottom">
	<footer class="page-bottom" ng-if="isShowFooter">
		<ul class="clearfix">
			<li>
				<a ui-sref="index"> 
				<img src="/express/resources/images/bottom10.png" alt="">
				<p>首页</p>
				</a>
			</li>
			<li>
				<a ui-sref="good">
					<img src="/express/resources/images/bottom20.png" alt="">
					<p>快递服务</p>
				</a>
			</li>
			<li>
				<a ui-sref="user"> 
					<img src="/express/resources/images/bottom40.png" alt="">
					<p>我的</p>
				</a>
			</li>
		</ul>
	</footer>
</div>
