<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!--禁止浏览器缩放-->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="application/xhtml+xml;charset=UTF-8"
	http-equiv="Content-Type" />
<!--清除浏览器缓存-->
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<!--iPhone 手机上设置手机号码不被显示为拨号链接）-->
<meta content="telephone=no, address=no" name="format-detection" />
<!--IOS私有属性，可以添加到主屏幕-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- QQ浏览器私有 -->
<!-- 全屏模式 -->
<meta name="x5-fullscreen" content="true">
<!-- 应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- UC浏览器私有 -->
<!-- 全屏模式 -->
<meta name="full-screen" content="yes">
<!-- 应用模式 -->
<meta name="browsermode" content="application">
<title>help</title>
<link rel="stylesheet" href="../css/base1.css" />
<link rel="stylesheet" href="../css/index.css" />
<style>
.hi-open {
	display: none;
}
</style>
<script>
		var dWidth = document.documentElement.clientWidth;
		if(dWidth > 640) dWidth = 640;
		document.documentElement.style.fontSize = dWidth / 640 * 100 + 'px';	

	</script>


</head>
<body>
	<header class="exp-header">
		<div class="header-box">
			<div class="header-left"><</div>
			<span class="header-title">常见问题</span>
		</div>
	</header>
	<section id="main">
		<article class="page">
			<div class="page-content">
				<div class="hi-content">
					<div class="hi-form-wrap">
						<div class="hi-form-item hi-form-wrap-l cat-line-shadow">
							<div class="hi-form-label hi-form-item-arrow">派送时间</div>
							<div class="hi-open"></div>
						</div>

					</div>
					<div class="hi-form-wrap">
						<div class="hi-form-item hi-form-wrap-l cat-line-shadow">
							<div class="hi-form-label hi-form-item-arrow">派送时间</div>
							<div class="hi-open"></div>
						</div>

					</div>
					<div class="hi-form-wrap">
						<div class="hi-form-item hi-form-wrap-l cat-line-shadow">
							<div class="hi-form-label hi-form-item-arrow">收费标准</div>
							<div class="hi-open"></div>
						</div>

					</div>
					<div class="hi-form-wrap">
						<div class="hi-form-item hi-form-wrap-l cat-line-shadow">
							<div class="hi-form-label hi-form-item-arrow">具体流程</div>
							<div class="hi-open"></div>
						</div>
					</div>
					</di>


				</div>
				<div class="blank"></div>
				<footer class="page-bottom">
					<a href="tel:12345678" class="tel-a fixed-bottom-white-bg">
						客服电话：12345678 </a>
				</footer>
		</article>

	</section>
</body>
</html>