<div ng-controller="info">
	<div class="changeUIBox">
		<i class="closeP" id="closeBL"></i>
		<div class="UI-info">
			<p><span>用户名：</span>fhrtutyutu</p>
			<div class="ex-com"><span>性别:</span><em><select name="" id="">
					<option value="0">男</option>
					<option value="1">女</option>
			</select></em></div>
			<p><span>手机：</span><input type="text" placeholder=""></p>
			<p><span>邮箱：</span><input type="text" placeholder=""></p>
			<p><span>联系地址：</span><input type="text" placeholder="请输入联系地址"></p>
		</div>
	</div>
	<div class="hideL" ></div>
</div>