<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!--禁止浏览器缩放-->
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta content="application/xhtml+xml;charset=UTF-8"
	http-equiv="Content-Type" />
<!--清除浏览器缓存-->
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
<!--iPhone 手机上设置手机号码不被显示为拨号链接）-->
<meta content="telephone=no, address=no" name="format-detection" />
<!--IOS私有属性，可以添加到主屏幕-->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- QQ浏览器私有 -->
<!-- 全屏模式 -->
<meta name="x5-fullscreen" content="true">
<!-- 应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- UC浏览器私有 -->
<!-- 全屏模式 -->
<meta name="full-screen" content="yes">
<!-- 应用模式 -->
<meta name="browsermode" content="application">
<title>product_detail</title>
<link rel="stylesheet" href="../css/base1.css" />
<link rel="stylesheet" href="../css/index.css" />
<style>
</style>
<script>
		var dWidth = document.documentElement.clientWidth;
		if(dWidth > 640) dWidth = 640;
		document.documentElement.style.fontSize = dWidth / 640 * 100 + 'px';	
	
	</script>


</head>
<body>
	<header class="exp-header">
		<div class="header-box">
			<div class="header-left"><</div>
			<span class="header-title">代取服务</span>
		</div>
	</header>
	<section id="main">
		<article class="page">
			<div class="page-content">
				<div class="pro-main clearfix">
					<div class="pro-main-left">
						<img class="pro-main-img box-fix" src="../images/ex6.png">
					</div>
					<div class="pro-main-right">价格</div>
				</div>
				<div class="pro-comment">
					<div class="form-wrap line-shadow">
						<div class="form-item cat-line-shadow">
							<span class="pro-com-title">点评</span>
						</div>
						<div class="sum-com">
							<div class="sum-com-left vertical-center">
								<div class="sum-overall-score">
									5<span class="sum-score-words">分</span>
								</div>
								<div class="sum-whole-com font-s">总体点评</div>
							</div>
							<div class="sum-com-right">
								<div class="sum-attitude">
									<span class="sum-attitude-title">服务态度</span> <span
										class="star-wrap sum-star-wrap"> <span
										class="star-fixed"> <i class="staritem">☆</i> <i
											class="staritem">☆</i> <i class="staritem">☆</i> <i
											class="staritem">☆</i> <i class="staritem">☆</i>
									</span> <span class="star-dynamic"> <i class="staritem">★</i> <i
											class="staritem">★</i> <i class="staritem">★</i> <i
											class="staritem">★</i> <i class="staritem">★</i>
									</span>
									</span> <span class="sum-score">5<span class="sum-score-words2">分</span></span>
								</div>
								<div class="sum-transport">
									<span class="sum-transport-title">派送速度</span> <span
										class="star-wrap sum-star-wrap"> <span
										class="star-fixed"> <i class="star-item">☆</i> <i
											class="star-item">☆</i> <i class="star-item">☆</i> <i
											class="star-item">☆</i> <i class="star-item">☆</i>
									</span> <span class="star-dynamic"> <i class="star-item">★</i>
											<i class="star-item">★</i> <i class="star-item">★</i> <i
											class="star-item">★</i> <i class="star-item">★</i>
									</span>
									</span> <span class="sum-score">5<span class="sum-score-words2">分</span></span>
								</div>
							</div>
						</div>
						<div class="filter flex-wrap cat-line-shadow">
							<div class="flex">
								<button class="fd-btn fd-btn-active font-s">全部(3)</button>
							</div>
							<div class="flex">
								<button class="fd-btn font-s">中评(1)</button>
							</div>
							<div class="flex">
								<button class="fd-btn font-s">差评(0)</button>
							</div>
						</div>

						<div class="fd-form-item2 font-s cat-line-shadow">
							<div class="fd-tel-num">
								1870****250 <span class="fd-comment-time">2016-08-28
									16:22</span>
							</div>
							<div class="fd-five-star">
								<i class="star-item">★</i> <i class="star-item">★</i> <i
									class="star-item">★</i> <i class="star-item">★</i> <i
									class="star-item">★</i>
							</div>
							<div class="font-s">
								<span class="fd-no-message fd-message"> 暂时没有任何评价 </span>
							</div>
						</div>

						<div class="fd-form-item2 font-s cat-line-shadow">
							<div class="fd-tel-num">
								1870****250 <span class="fd-comment-time">2016-08-28
									16:22</span>
							</div>
							<div class="fd-five-star">
								<i class="star-item">★</i> <i class="star-item">★</i> <i
									class="star-item">★</i> <i class="star-item">★</i> <i
									class="star-item">★</i>
							</div>
							<div class="font-s">
								<span class="fd-no-message fd-message"> 暂时没有任何评价 </span>
							</div>
						</div>

						<div class="fd-form-item2 font-s cat-line-shadow">
							<div class="fd-tel-num">
								1870****250 <span class="fd-comment-time">2016-08-28
									16:22</span>
							</div>
							<div class="fd-five-star">
								<i class="star-item">★</i> <i class="star-item">★</i> <i
									class="star-item">★</i> <i class="star-item">★</i> <i
									class="star-item">★</i>
							</div>
							<div class="font-s">
								<span class="fd-no-message fd-message"> 暂时没有任何评价 </span>
							</div>
						</div>

					</div>

				</div>
				<div class="btn-float-wrap">
					<div class="btn-commit">
						<span>我要代取</span>
					</div>
				</div>

				<div class="blank"></div>
			</div>

			<footer class="page-bottom">
				<ul class="clearfix">
					<li><a href="index.html"> <img
							src="../images/bottom10.png" alt="">
							<p>首页</p>
					</a></li>
					<li><a href="order.html"> <img
							src="../images/bottom20.png" alt="">
							<p>快递服务</p>
					</a></li>
					<li><a href="car.html"> <img src="../images/bottom30.png"
							alt="">
							<p>购物车</p>
					</a></li>
					<li><a href="user.html"> <img src="../images/bottom40.png"
							alt="">
							<p>我的</p>
					</a></li>
				</ul>
			</footer>
		</article>

	</section>
</body>
</html>